.c-footer {
    width: 100%;
    height: 30px;
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10px;
    color: var(--main);
    font-size: 10px;
    font-weight: bold;
    border: 2px solid var(--white);
}

.f-logo {
    color: orangered;
    font-weight: 600;
    font-size: 15px;
}
